* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #050510; /* Deep midnight blue/black */
    font-family: 'Outfit', sans-serif;
    touch-action: none; /* Prevent default touch actions like scroll */
}

#gameCanvas {
    display: block;
    width: 100%;
    height: 100%;
}
